<!doctype html>
<html ng-app>
	<head>
		<title>JeUX di Code - AngularJS/NodeJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
		<script src="script.js"></script>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	</head>
	<body class="container" ng-controller="PomodoroCtrl">
		<nav class="navbar navbar-default" role="navigation">
			<a class="navbar-brand" href="#">Pomodoro</a>
		</nav>
		
		<table class="table">
			<thead>
				<th>Nom</th>
				<th>Estimés</th>
				<th>Effectués</th>
			</thead>
			<tbody>
				<tr ng-repeat="task in tasks">
					<td>{{task.name}}</td>
					<td>{{task.estimatedCount}}</td>
					<td>{{task.doneCount}}</td>
				</tr>
			</tbody>
		</table>
		
		<form class="form-inline" role="form">
  		<div class="form-group">
				<input ng-model="name" type="text" class="form-control" placeholder="Nom" />
  		</div>
  		<div class="form-group">
				<input ng-model="estimatedCount" type="text" class="form-control" placeholder="Nombre de Pomodoro" />
  		</div>
			<button ng-click="add()"  class="btn btn-default">+</button>
		</form>
		
	</body>
</html>